---
layout: pages
section_id: communaute
---
<div class="community-top relative font-cooper-light flex flex-col py-10 sm:py-0 justify-center align-items text-white">
  <div class="svg-container overflow-hidden absolute left-0 bottom-0 z-10 hidden sm:block">
    <svg class="top__gradient-back absolute left-0 -bottom-15vh" viewBox="0 0 1412 692">
      <path fill-rule="evenodd" transform="translate(-10, 70) scale(1.05)" opacity="0.059" fill="rgb(255, 255, 255)" d="M4,8 C4,8 224,-33 468,68 C711,171 868,270 1155,248 C1270,238 1411,165 1412,165 L1412,692 L0,692 L4,8 Z"/>
    </svg>
    <svg class="top__gradient-front absolute left-0 -bottom-15vh z-20" viewBox="0 0 1415 623">
      <defs>
        <linearGradient id="PSgrad_0" x1="0%" x2="71.934%" y1="0%" y2="69.466%" gradientTransform="rotate(44)">
          <stop offset="0%" stop-color="rgb(14,7,54)" stop-opacity="1" />
          <stop offset="100%" stop-color="rgb(10,5,40)" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g transform="translate(-20, 40) scale(1.05)">
        <path fill="url(#PSgrad_0)" d="M11,7 C11,7 260,-40 738,126 C1021,231 1415,171 1415,171 L1415,623 L0,623 L0,14 L11,7 Z"/>
      </g>
    </svg>
  </div>
  <div class="container mt-64 relative z-40 mx-auto font-cooper-light text-white mb-0 pb-10"> 
    <h1 class="text-center text-4xl mb-10">L'équipe PIAF - Pour des intelligences artificielles francophones</h1>
    <div class="flex pl-24">
      <div class="w-1/2 pr-32 pt-6 text-lg leading-relaxed"><strong class="font-cooper-medium">Le projet PIAF bénéficie d'un accompagnement scientifique et méthodologique de la part de <a class="text-red text-link" target="new" href="https://recital.ai/">reciTAL</a>, une entreprise française à l'état de l'art du traitement automatique du langage naturel.</strong> Plusieurs datascientists de reciTAL nous accompagnent dans l'écriture du protocole d'annotation, le choix du corpus à annoter, le test des performances du jeu de données et la restitution des résultats. Un papier de recherche sera co-écrit avec Etalab à l'issue du projet.</div>
      <div class="w-5/12 p-8 rounded-lg bg-red text-white">
        <h2 class="text-2/5xl font-cooper-medium mb-8">L'équipe du projet PIAF fait partie du Lab IA d'Etalab:</h2>
        <ul>
          <li class="flex list-el--white-disc">Guillaume Lancrenon, développeur et ancien entrepreneur d'intérêt général</li>
          <li class="flex list-el--white-disc">Mathilde Bras, cheffe de projet</li>
          <li class="flex list-el--white-disc">Benjamin Doberset, chargé de déploiement</li>
          <li class="flex list-el--white-disc">Pavel Soriano, datascientist</li> 
          <li class="flex list-el--white-disc">Paul-Antoine Chevalier, datascientist et responsable du Lab IA</li>  
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto font-cooper-light text-blue mt-24"> 
  <div class="flex flex-wrap pl-24">
    <div class="w-1/2 pr-16">
      <h2 class="text-2xl mb-8 font-cooper-medium">Rejoindre l'écosystème PIAF</h2>
      <p>Nous souhaitons inclure le plus possible d’experts de l’IA, chercheurs en sciences sociales, agents publics, associations, laboratoires de recherche, et tout personne intéressée par ce projet, qui est en encore à sa phase d’expérimentation. En effet, nous avons pris le parti de proposer une méthodologie ouverte et participative notamment via l’organisation d’événements d’annotation et des publications régulières sur l’avancée du projet. Nous échangeons également aussi avec des acteurs qui sont déjà impliqués dans des initiatives de crowdsourcing pour l’IA.</p>
      <p class="mt-6">Ce projet est aussi l’occasion de diffuser la culture de l’IA au sein de votre association, votre école, votre incubateur, votre laboratoire. <strong class="font-cooper-medium">Il est donc possible de contribuer de manière plus rapprochée au projet.</strong></p>
    </div>
    <div class="w-5/12 pl-8">
      <p class="mt-16 mb-4 font-cooper-medium">Comment ? Plusieurs possibilités :</p>
      <ul>
        <li class="flex list-el--red-disc">Echanger avec nous sur les orientations du projet et les opportunités à explorer</li>
        <li class="flex list-el--red-disc">Organiser un annotathon avec votre communauté</li>
        <li class="flex list-el--red-disc">Relayer l'initiative dans vos réseaux<li/>    
      </ul>
    </div>
    <div class="flex flex-wrap justify-center text-center text-purple my-20 pr-24">
      <div class="quote relative w-full text-3xl"><span>PIAF n’est pas seulement un projet technique. En adoptant une approche ouverte, nous souhaitons aussi explorer d’autres horizons : la contribution engagée, la littératie numérique, l’éthique dans l’intelligence artificielle. Cette expérimentation allie des enjeux de souveraineté (les IA francophones) et de démocratie à l’ère numérique (être acteur des transformations).</span></div>
      <p class="mt-6"><span class="font-cooper-medium text-xl">Mathilde Bras</span><br>Etalab</p>
    </div>
  </div>
  <div class="flex items-center mx-24 py-8 px-16 rounded-lg bg-purple-light text-white">
    <div class="text-3xl w-1/2">Vous souhaitez nous aider à améliorer PIAF ?</div>
    <div class="text-lg">Contactez nous par courriel <a class="text-white text-link" href="mailto:piaf@data.gouv.fr"> piaf@data.gouv.fr </a> ou contribuez sur Github.</div>
  </div>
  <div class="flex items-center mx-24 my-20">
    <div class="text-2xl font-cooper-medium mr-12">Ils participent au projet PIAF</div>
    {% for partenaire in site.data.partenaires %}
      <div class="relative flex flex-shrink-0 px-12 max-w-xsm">
        <a href="{{ partenaire.url }}" target="_new"><img class="" src="{{ partenaire.src }}" /></a>
      </div>
    {% endfor %}
  </div>
</div>

    <!-- <h2 class="text-4xl mb-6">L'équipe PIAF - Pour des intelligences artificielles francophones </h2>

    <p class="mb-4">L'équipe du projet PIAF fait partie du Lab IA d'Etalab. <a class="text-red text-link" target="new" href="https://www.etalab.gouv.fr/">Etalab</a>, est la mission en charge de l'ouverture, l'échange et la circulation des données au sein de <a class="text-red text-link" target="new" href="https://www.numerique.gouv.fr/"> la Direction interministérielle du numérique</a>. Découvrez les membres de l'équipe :</p>
    
    <ul class="list-disc pl-6">
      <li>Guillaume Lancrenon, développeur et ancien entrepreneur d'intérêt général</li>
      <li>Mathilde Bras, cheffe de projet</li>
      <li>Benjamin Doberset, chargé de déploiement</li>
      <li>Pavel Soriano, datascientist</li> 
      <li>Paul-Antoine Chevalier, datascientist et responsable du Lab IA</li>  
     </ul>          
	
    <p class="mt-6"><strong class="font-cooper-medium">Le projet PIAF bénéficie d'un accompagnement scientifique et méthodologique de la part de <a class="text-red text-link" target="new" href="https://recital.ai/">reciTAL</a>, une entreprise française à l'état de l'art du traitement automatique du langage naturel.</strong>. Plusieurs datascientists de reciTAL nous accompagnent dans l'écriture du protocole d'annotation, le choix du corpus à annoter, le test des performances du jeu de données et la restitution des résultats. Un papier de recherche sera co-écrit avec Etalab à l'issue du projet.</p> -->
	  
    <!-- <h2 class="text-4xl mt-8 mb-6">Rejoindre l'écosystème PIAF</h2>
	  
    <p> Nous souhaitons inclure le plus possible d’experts de l’IA, chercheurs en sciences sociales, agents publics, associations, laboratoires de recherche, et tout personne intéressée par ce projet, qui est en encore à sa phase d’expérimentation. En effet, nous avons pris le parti de proposer une méthodologie ouverte et participative notamment via l’organisation d’événements d’annotation et des publications régulières sur l’avancée du projet. Nous échangeons également aussi avec des acteurs qui sont déjà impliqués dans des initiatives de crowdsourcing pour l’IA.</p>

    <p class="mt-6">Ce projet est aussi l’occasion de diffuser la culture de l’IA au sein de votre association, votre école, votre incubateur, votre laboratoire. <strong class="font-cooper-medium">Il est donc possible de contribuer de manière plus rapprochée au projet.</strong></p> -->

    <!-- <p class="mt-6 mb-4">Comment ? Plusieurs possibilités :</p>

    <ul class="list-disc pl-6">
		  <li>Echanger avec nous sur les orientations du projet et les opportunités à explorer</li>
		  <li>Organiser un annotathon avec votre communauté</li>
		  <li>Relayer l'initiative dans vos réseaux</>    
    </ul> -->
	      
	  <!-- <p class="mt-6">Vous souhaitez nous aider à améliorer PIAF ? Contactez nous par courriel <a class="text-red text-link" href="mailto:piaf@data.gouv.fr"> piaf@data.gouv.fr </a> ou contribuez sur Github.</p> -->

    <!-- Partenaires -->
    <!-- <h2 class="text-4xl mt-8 mb-6">Ils participent au projet PIAF </h2>
    <div class="flex">
      {% for partenaire in site.data.partenaires %}
        <div class="w-1/5 px-6">
          <img src="{{ partenaire.src }}" />
        </div>
      {% endfor %}
    </div> -->

</div>
