@tailwind base;

@tailwind components;

@tailwind utilities;

/* Fonts */

@font-face {
  font-family: 'cooper_hewittsemibold';
  src: url('../../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
       url('../../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cooper_hewittlight';
  src: url('../../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
       url('../../fonts/cooperhewitt-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cooper_hewittmedium';
  src: url('../../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
       url('../../fonts/cooperhewitt-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Header */

.header {
  height: 3rem;
  transition: height 0.3s;

  @media (min-width: 640px) {
    height: 6rem;
  }
}

.header.shrink {
  @media (min-width: 640px) {
    height: 4rem;
  }
}


/* Link style */

.text-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .3s;

  &:hover {
    background-size: 100% 1px;
  }

  &.active {
    box-shadow: inset 0 -1px 0 0 currentColor;
  }
}

/* Button style */
%btn {
  overflow: hidden;
  transition: all .3s;

  &:hover {
    %btn-overlay::after {
      transform: scale(2.5);
    }

  }
}

.btn--white {
  @extend %btn;
  
  &:hover {
    color: #fff;
  }
}


.btn--red {
  @extend %btn;

  &:hover {
    color: theme('colors.red')
  }
}

%btn-overlay {
  height: auto;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 100%;

  &::before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform .5s cubic-bezier(.25,.46,.45,.94);
    border-radius: 50%;
    transform: scale(1);
    transform-origin: bottom left;
  }
}

.btn-overlay--red {
  @extend %btn-overlay;

  &::after {
    background-color: theme('colors.red');
  }
}

.btn-overlay--white {
  @extend %btn-overlay;

  &::after {
    background-color: #fff;
  }
}

.btn-overlay--blue {
  @extend %btn-overlay;

  &::after {
    background-color: theme('colors.blue');
  }
}

/* Home styles */

.home-top {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(44deg, #130c47 0%,#1d4b9f 87%,#8760e9 100%);
    transform: rotateX(180deg);
  }
  &::after {
    /* content: ""; */
    position: absolute;
    width: 120%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right ,rgba(13, 27, 63, 1) 0%, rgba(13, 27, 63, .4) 100%);
    opacity: .5;
  }
}

.home-top__gradient-front {
  width: 100%;
}

.svg-container {
  width: 100%;
  height: 0;
  padding-bottom: 154%;

  @media (min-width: 640px) {
    padding-bottom: 54%;
  }
}

.home-center__masked-img {
  clip-path: url(#clipping);
}


/* Banner */

.banner-right--red::before {
  content: "";
  position: absolute;
  right: -100%;
  width: 210%;
  height: 100%;
  background-color: theme('colors.red');
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  z-index: -1;
}


/* Mobile nav */

.mobile-nav {
  transform: translateX(-100%);
  transition: all .3s;
}

.mobile-nav.is-active {
  transform: translateX(0);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}
.hamburger:hover {
  opacity: 0.7; 
}
.hamburger.is-active:hover {
  opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; 
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
  
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}