<div class='comments-wrapper'>
  <h3 class='comments-count'>6 Comments</h3>
  <ul class='comments'>
    <li>
      <div class='meta'>
        <p class='avatar'>
          <img width="39" height="39" alt="" src="{{site.url}}{{site.baseurl}}img/avatar.png" />
        </p>
        <p class='info'>
          <span class='name'>Amy</span>
          <span class='datetime'>October 15, 2011 at 3:30 pm</span>
          <a href='#comment-form'>Reply</a>
        </p>
      </div>
      <p>
        Laudantium et sint repellat eum necessitatibus aut est rem illo delectus saepe. dolor consectetur et dolorem distinctio beatae doloribus magni ducimus reprehenderit voluptatibus ex officia quia. cum facere est quas provident ea nam quibusdam deserunt quis. error quis nihil ad quia corrupti asperiores labore quis error ut debitis nobis iste. laborum sint qui aut asperiores numquam itaque ea illum
      </p>
    </li>
  </ul>
</div>
